/*
==============================
  Reset and variables global
==============================
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-primary: #2680c0;
  --clr-primary-dark: #003e6b;
  --clr-primary-light: #85c6f4;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-white: #fff;
  --clr-red-dark: #bb2525;
  --clr-red-light: #e66b6b;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --container: 50rem;
  --small: 1rem;
  --medium: 1.5rem;
  --large: 2rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  font-size: 1rem;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  display: block;
}

h2,
h3{
  letter-spacing: var(--spacing);
}

/*
=============== 
  Button default
===============
*/

.btn {
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  color: var(--clr-primary);
  background: var(--clr-primary-light);
}

/*
=============== 
  Navbar
===============
*/

.loading {
  text-align: center;
  margin-top: 5rem;
}

nav {
  background: var(--clr-primary-dark);
  padding: 3rem;
}

.nav-center {
  max-width: var(--container);
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h2 {
  font-size: var(--large);
  color: var(--clr-white);
  text-transform: uppercase;
}

.nav-container {
  display: block;
  position: relative;
}

.amount-container {
  position: absolute;
  top: 0.8rem;
  right: -0.8rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: var(--clr-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-amount {
  color: var(--clr-white);
  font-size: 0.9rem;
}

/*
=============== 
  Cart
===============
*/

.cart {
  width: 90vw;
  margin: 40px auto;
  padding: 10px 0;
  max-width: var(--container);
}

.cart h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: var(--large);
  margin-bottom: 2rem;
}

.empty-cart {
  color: var(--clr-grey-5);
  text-align: center;
}

.cart footer {
  margin-top: 40px;
  text-align: center;
}

.total-cart p {
  text-align: center;
  color: var(--clr-grey-1);
  font-weight: bold;
  margin-top: 40px;
}

.total-cart span{
  font-weight: normal;
}

.clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  margin-top: 20px;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  border-radius: var(--radius);
}

.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-white);
  border-color: var(--clr-red-dark);
}

/*
=============== 
Cart Item
===============
*/

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

.cart-item h3 {
  margin-bottom: 0.3rem;
  font-size: var(--medium);
  font-weight: 700;
  letter-spacing: 2px;
}

.price-item {
  font-size: var(--small);
  color: var(--clr-primary-dark);
  font-weight: bold;
}

.price-item span{
  font-weight: normal;
}

.remove-btn {
  color: var(--clr-grey-5);
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  padding: 0.2rem 0.7rem;
  border-radius: 3rem;
  border: 1px solid var(--clr-grey-5);
  margin-top: 0.375rem;
  transition: var(--transition);
}

.remove-btn:hover {
  color: var(--clr-red-dark);
  border-color: var(--clr-red-dark);
}

.amount-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1rem;
  height: 1rem;
  background: transparent;
  transition: var(--transition);
  border-radius: 50%;
  border: 1px solid var(--clr-grey-5);
  cursor: pointer;
}

.amount-btn:hover{
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
}

.amount-btn svg {
  fill: var(--clr-grey-5);
}

.amount-btn:hover svg {
  fill: var(--clr-white);
}

.amount {
  padding: 0 8px;
  font-size: var(--small);
  color:black;
}

hr {
  background: var(--clr-grey-5);
}